@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.dashboardContainer{
  display: flex;
}

.sidebar{
  margin: 0;
  padding: 0;
  width: 200px;
  /*border: solid;*/
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #dddddd;
}
.sidebar a{
  display: block;
  padding:16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.76);
}
.sidebar .active{
  background-color: #2e74c0;
  color: #fff;
}
.sidebar a:hover:not(.active){
  background-color: #555;
  color: white;
}
.
/*.sidebar a:active:not(.active){*/
/*  background-color: #2e74c0;*/
/*  color: #fff;*/
/*}*/

.main-content{
  flex-grow: 1;
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message{
  margin: 0;
}

section{
  width: 1000px;
  margin-left: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid ;
  border-radius: 10px;
}

.chartInfo, .analyticsInfo, .messagesInfo {
  height: 100px;
  background-color: #1ba8a8;
}
