body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
  }

  .container {
    display: flex;
    height: 100vh;
  }

  aside.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }

  .sidebar-logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .sidebar-buttons button {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    text-align: left;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .sidebar-buttons button:hover {
    background-color: #444;
  }


  .sign-out-container {
    margin-top: auto; /* Push the button to the bottom */
    padding: 20px;
    text-align: center;
  }
    
  .sign-out-container button {
    width: 100%;
    background: none;
    border: none;
    color: #f44336;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .sign-outBtn:hover {
    background-color: #d9534f; /* Darker red on hover */
    color: #000;
    scale: 1.1;
  }

  main.main-content {
    flex: 1;
    padding: 20px;
  }

  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-pictureBtn {
    background-color: #eee;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: none;
  }

  .profile-icon {
    font-size: 40px;
    color: #888;
  }

  .profile-info {
    flex: 1;
  }

  .tags span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 12px;
    display: inline-block;
  }

  section.info-section {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info-card {
    margin-bottom: 20px;
  }

  .info-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }

  .info-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background: #f9f9f9;
    font-size: 14px;
    color: #555;
  }